body {background-color: #183628  ;   
    /*or any color of your choosing*/
    text-align: center;
}
h1 {
    text-align: center;
    color: yellow;
}

h2 {
    color: blueviolet;
}

h4 {
font-family: fantasy;
color: whitesmoke;
}
